{% extends 'layout/base.html' %}

{% block title %}Đặt lại mật khẩu{% endblock %}

{% block content %}
<div class="reset-container">
    <div class="reset-box shadow">
        <h3 class="text-center mb-4">Đặt lại mật khẩu</h3>

        <form method="post">
            <div class="mb-3">
                <label class="form-label">Mật khẩu mới</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Xác nhận mật khẩu</label>
                <input type="password" name="confirm_password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Xác nhận</button>
        </form>
    </div>
</div>
{% endblock %}
